<div class="centered-content">
  <div class="sign-in-box">
    <h1 class="title has-text-primary has-text-centered">Sign In</h1>

    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput class="input has-background-light sign-in-input" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope sign-in-input-icons"></i>
        </span>
        <!-- <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span> -->
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #passwordInput class="input has-background-light sign-in-input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock sign-in-input-icons"></i>
        </span>
      </p>
    </div>
    <div class="buttons is-right">
      <div class="field" id="sign-up-link-wrapper">
          Not registered yet?
          <a id="sign-up-link"  [routerLink]="['/sign-up']">Sign Up</a>
      </div>
      <div class="field">
        <p class="control">
          <button class="button is-info" (click)="onSignInButtonClicked(emailInput.value, passwordInput.value)">Sign In</button>
        </p>
      </div>
    </div>
  </div>
</div>
