<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new Task
    </h1>
    <div class="form-wrapper">
      <p class="control has-icons-right" id="create-task-title-input-wrapper">
        <input #newTaskTitle class="input is-primary is-medium" id="create-task-title-input" type="text" placeholder="Enter title">
        <span class="icon is-small is-right">
          <i class="fas fa-pencil"></i>
        </span>
      </p>
    </div>
    <div class="buttons is-right" id="new-task-component-buttons">
      <button class="button is-primary is-info has-text-white" routerLink="/">Back</button>
      <button class="button is-primary is-normal has-text-white" id="create-task-button" (click)="createTask(newTaskTitle.value)">Create</button>
    </div>
  </div>
</div>
