<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit a Task
    </h1>
    <div class="form-wrapper">
      <p class="control has-icons-right" id="edit-task-title-input-wrapper">
        <input #taskTitle class="input is-primary is-medium" id="edit-task-title-input" type="text" placeholder="Enter title" [formControl]="taskTitleFormControl">
        <span class="icon is-small is-right">
          <i class="fas fa-pencil"></i>
        </span>
      </p>
    </div>
    <div class="buttons is-right" id="edit-task-component-buttons">
      <button class="button is-primary is-info has-text-white" [routerLink]="['/lists/', listId]">Back</button>
      <button class="button is-primary is-normal has-text-white" id="edit-task-button" (click)="updateTask(taskTitle.value)">Save</button>
    </div>
  </div>
</div>

