<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Edit a List
    </h1>
    <div class="form-wrapper">
      <p class="control has-icons-right" id="edit-list-title-input-wrapper">
        <input #listTitle class="input is-primary is-medium" id="edit-list-title-input" type="text" placeholder="Enter title" [formControl]="listTitleFormControl">
        <span class="icon is-small is-right">
          <i class="fas fa-pencil"></i>
        </span>
      </p>
    </div>
    <div class="buttons is-right" id="edit-list-component-buttons">
      <button class="button is-primary is-info has-text-white" [routerLink]="['/lists/', listId]">Back</button>
      <button class="button is-primary is-normal has-text-white" id="edit-list-button" (click)="updateList(listTitle.value)">Save</button>
    </div>
  </div>
</div>
